

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* background-color: rgb(28, 28, 90); */
}

nav >  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    text-decoration: none;
    /* background-color: rgb(28, 28, 90); */
    color: rgb(36, 31, 31);
    transition: color 400ms ease-in-out;
}

nav > a:hover {
    /* background-color: rgb(48, 48, 155); */
    color: rgb(28, 28, 90);
}